.row {
  width: 100%;
  margin-bottom: 16px;
}
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  width: auto;
  margin-bottom: 16px;
}
.row .row:before,
.row .row:after {
  content: ' ';
  display: table;
}
.row .row:after {
  clear: both;
}
.column {
  width: 100%;
  float: left;
}
.padded.column,
.padded-for-phone-only.column,
.padded-for-tablet-only.column {
  padding-left: 8px;
  padding-right: 8px;
}
.padded.column:first-child,
.padded-for-phone-only.column:first-child,
.padded-for-tablet-only.column:first-child {
  padding-left: 0;
}
.padded.column:last-child,
.padded-for-phone-only.column:last-child,
.padded-for-tablet-only.column:last-child {
  padding-right: 0;
}
[class*="column"] + [class*="column"]:last-child {
  float: right;
}
.hide-for-phone-only,
.hide-for-tablet-only {
  display: inherit;
}
@media only screen {
  .column {
    position: relative;
    float: left;
  }
  .phone-1 {
    width: 10%;
  }
  .phone-2 {
    width: 20%;
  }
  .phone-3 {
    width: 30%;
  }
  .phone-4 {
    width: 40%;
  }
  .phone-5 {
    width: 50%;
  }
  .phone-6 {
    width: 60%;
  }
  .phone-7 {
    width: 70%;
  }
  .phone-8 {
    width: 80%;
  }
  .phone-9 {
    width: 90%;
  }
  .phone-10 {
    width: 100%;
  }
}
@media only screen and (max-width: 40em) {
  .hide-for-phone-only {
    display: none;
  }
  .padded-for-tablet-only.column {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 40.063em) {
  .hide-for-tablet-only {
    display: none;
  }
  .padded-for-phone-only.column {
    padding-left: 0;
    padding-right: 0;
  }
  .column {
    position: relative;
    float: left;
  }
  .tablet-1 {
    width: 10%;
  }
  .tablet-2 {
    width: 20%;
  }
  .tablet-3 {
    width: 30%;
  }
  .tablet-4 {
    width: 40%;
  }
  .tablet-5 {
    width: 50%;
  }
  .tablet-6 {
    width: 60%;
  }
  .tablet-7 {
    width: 70%;
  }
  .tablet-8 {
    width: 80%;
  }
  .tablet-9 {
    width: 90%;
  }
  .tablet-10 {
    width: 100%;
  }
}
