.backdrop-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 21;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.25);
}
.backdrop-panel.fadeout {
  opacity: 0;
  -webkit-transition: opacity .45s linear;
  transition: opacity .45s linear;
}
.panel,
.panel-expanded {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  background-color: #fff;
}
.panel {
  width: 100%;
  height: auto;
  max-height: 80%;
  -webkit-transition: -webkit-transform 0.25s, opacity 1ms 0.25s;
  transition: transform 0.25s, opacity 1ms .25s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.panel.active {
  -webkit-transition: -webkit-transform 0.25s, opacity 1ms 0.25s;
  transition: transform 0.25s, opacity 1ms .25s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.panel .content {
  position: relative;
  overflow: hidden;
}
.panel .content .list {
  margin-bottom: 0;
}
.panel-expanded {
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.25s, opacity 1ms 0.25s;
  transition: transform 0.25s, opacity 1ms .25s;
}
.panel-expanded.active {
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.panel-expanded .content {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}
