/*
 * Linear progress bars: inspired by MaterializeCSS
 * https://github.com/Dogfalo/materialize 
*/
.progress {
  position: relative;
  z-index: 20;
  height: 6px;
  display: none;
  width: 100%;
  background-color: #cbe9ff;
  border-radius: 2px;
  background-clip: padding-box;
  margin-bottom: 10px;
  overflow: hidden;
}
.progress.active {
  display: block;
}
.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #2895e7;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
.progress .indeterminate {
  background-color: #2895e7;
}
.progress.active .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress.active .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
.btn-progress {
  -webkit-transition: height 500ms;
  transition: height 500ms;
}
.btn-progress .progress {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-progress:disabled,
.btn-progress.in-progress {
  height: 54px;
}
.btn-progress:disabled .progress,
.btn-progress.in-progress .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 0;
}
.btn-progress:disabled .progress .indeterminate:before,
.btn-progress.in-progress .progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.btn-progress:disabled .progress .indeterminate:after,
.btn-progress.in-progress .progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
.btn-primary .determinate,
.btn-primary .indeterminate {
  background-color: #004a82;
}
.btn-positive .determinate,
.btn-positive .indeterminate {
  background-color: #006621;
}
.btn-negative .determinate,
.btn-negative .indeterminate {
  background-color: #b50300;
}
