// Name:            Headings
// ================================================================

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  text-transform: $headings-text-transform;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }


// Type lead classes
.lead-1 {
  font-size: $lead1-size;
  font-weight: $lead1-weight;
  line-height: $lead-line-height;
}
.lead-2 {
  font-size: $lead2-size;
  font-weight: $lead2-weight;
  line-height: $lead-line-height;
}
.lead-3 {
  font-size: $lead3-size;
  font-weight: $lead3-weight;
  line-height: $lead-line-height;
}
.lead-4 {
  font-size: $lead4-size;
  font-weight: $lead4-weight;
  line-height: $lead-line-height;
}
