/* ========================================================================
   Component: Table
 ========================================================================== */

.table {
  // reset spacing
  border-collapse: collapse;
  border-spacing: 0;
  // set width
  width: 100%;
  margin-bottom: $table-margin-y;

  // All cells
  th,
  td {
    padding: $table-cell-padding-y $table-cell-padding-x;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  // Header cell
  thead th {
    text-align: left;
    vertical-align: bottom;

    font-size: $table-header-cell-font-size;
    font-weight: $table-header-cell-font-weight;
    text-transform: $table-header-cell-text-transform;
    color: $table-header-cell-color;

    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .text-truncate {
    max-width: 1px;
  }
}


// Footer
.table tfoot {
  font-size: $table-footer-font-size;
}


// Caption
.table caption {
  padding: $table-cell-padding-y $table-cell-padding-x;
  font-size: $table-caption-font-size;
  color: $table-caption-color;
  text-align: left;
}

.caption-top {
  caption-side: top;
}

.caption-bottom {
  caption-side: bottom;
}

// Borderless
.table-borderless {
  th,
  td,
  thead th,
  tbody + tbody {
    border: 0;
  }
}


// Alignment
.table-align-top,
.table-align-top td {
  vertical-align: top !important;
}

.table-align-middle,
.table-align-middle td {
  vertical-align: middle !important;
}

.table-align-bottom,
.table-align-bottom td {
  vertical-align: bottom !important;
}


// Bordered
.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2 * $table-border-width;
    }
  }
}

// Striped
.table-striped {
  tbody tr:nth-of-type(#{$table-striped-order}) {
    background-color: $table-striped-bg;
  }
}


// Dark head
.table {
  .thead-dark {
    th {
      color: $table-dark-color;
      background-color: $table-dark-bg;
      border-color: $table-dark-border-color;
    }
  }

  .thead-light {
    th {
      color: $table-head-color;
      background-color: $table-head-bg;
      border-color: $table-border-color;
    }
  }
}

// Hover
.table-hover {
  tbody tr {
    @include hover {
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }
  }
}

// Sizing
.table-sm {
  th,
  td {
    padding: $table-sm-cell-padding-y $table-sm-cell-padding-x;
  }
}

.table-lg {
  th,
  td {
    padding: $table-lg-cell-padding-y $table-lg-cell-padding-x;
  }
}


// Responsive
.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        // Prevent double border on horizontal scroll due to use of `display: block;`
        > .table-bordered {
          border: 0;
        }
      }
    }
  }
}
