<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

        <link rel="stylesheet" href="../../../dist/css/phonon.css"/>
        <title>Lists</title>
    </head>
    <body>

        <home data-page="true">
            <header class="header-bar">
                <div class="center">
                    <h1 class="title">Lists</h1>
                </div>
            </header>
            <div class="content">

                <ul class="list">
                    <li class="divider">Basic</li>
                    <li class="padded-list">Item</li>
                    <li class="padded-list">Item</li>
                </ul>

                <ul class="list">
                    <li class="divider">Links</li>
                    <li><a href="#item" class="padded-list">Link</a></li>
                    <li><a href="#item" class="padded-list">Link</a></li>
                    <li><a href="#item" class="padded-list">Link</a></li>
                </ul>

                <ul class="list">
                    <li class="divider">Left action</li>
                    <li>
                        <a href="#action" class="pull-left icon icon-edit"></a>
                        <span class="padded-list">Item</span>
                    </li>
                    <li>
                        <a href="#action" class="pull-left">Text</a>
                        <span class="padded-list">Item</span>
                    </li>
                </ul>

                <ul class="list">
                    <li class="divider">Left action with link</li>
                    <li>
                        <a href="#action" class="pull-left icon icon-edit"></a>
                        <a href="#item" class="padded-list">Link</a>
                    </li>
                    <li>
                        <a href="#action" class="pull-left">Text</a>
                        <a href="#item" class="padded-list">Link</a>
                    </li>
                </ul>

                <ul class="list">
                    <li class="divider">Right action</li>
                    <li>
                        <a href="#action" class="pull-right icon icon-edit"></a>
                        <span class="padded-list">Item</span>
                    </li>
                    <li>
                        <a href="#action" class="pull-right">Text</a>
                        <span class="padded-list">Item</span>
                    </li>
                </ul>

                <ul class="list">
                    <li class="divider">Right action with link</li>
                    <li>
                        <a href="#action" class="pull-right icon icon-edit"></a>
                        <a href="#item" class="padded-list">Link</a>
                    </li>
                    <li>
                        <a href="#action" class="pull-right">Text</a>
                        <a href="#item" class="padded-list">Link</a>
                    </li>
                </ul>

                <ul class="list">
                    <li class="divider">Left and right actions</li>
                    <li class="item-expanded">
                        <a href="#action" class="pull-right icon icon-edit"></a>
                        <a href="#action" class="pull-left icon icon-edit"></a>
                        <div class="item-content">
                            <span class="title">Item</span>
                            <span class="body">Small text</span>
                        </div>
                    </li>
                    <li class="item-expanded">
                        <a href="#action" class="pull-right">Text</a>
                        <a href="#action" class="pull-left">Text</a>
                        <div class="item-content">
                            <span class="title">Item</span>
                            <span class="body">Small text</span>
                        </div>
                    </li>
                </ul>

                <ul class="list">
                    <li class="divider">Left and right actions with link</li>
                    <li class="item-expanded">
                        <a href="#action" class="pull-right icon icon-edit"></a>
                        <a href="#action" class="pull-left icon icon-edit"></a>
                        <a href="#item">
                            <div class="item-content">
                                <span class="title">Link</span>
                                <span class="body">Small text</span>
                            </div>
                        </a>
                    </li>
                    <li class="item-expanded">
                        <a href="#action" class="pull-right">Text</a>
                        <a href="#action" class="pull-left">Text</a>
                        <a href="#item">
                            <div class="item-content">
                                <span class="title">Link</span>
                                <span class="body">Small text</span>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </home>

        <script src="../../../dist/js/phonon-core.js"></script>

        <script>

            phonon.options({
                navigator: {
                    defaultPage: 'home'
                },
                i18n: null
            });

            phonon.navigator().start();

        </script>
    </body>
</html>
