@mixin alert-variant($background, $border, $color) {
  color: $color;
  background-color: $background;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: $color;
    font-weight: $font-weight-bolder;
  }
}
