<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

        <link rel="stylesheet" href="../../../dist/css/phonon.css" />
        <title>Dialogs</title>
    </head>
    <body>

        <div class="dialog" data-cancelable="false" id="custom-dialog">
            <div class="content">
                <div class="padded-full">
                    <h3>Hey! <i class="icon icon-info-outline"></i></h3>
                    <p>Do you like chocolate?</p>
                </div>
            </div>
            <ul class="buttons">
                <li><a class="btn btn-flat primary btn-confirm" data-dialog-close="true">YES</a></li>
                <li><a class="btn btn-flat negative btn-cancel" data-dialog-close="true">NO</a></li>
            </ul> 
        </div>

        <home data-page="true">
            <header class="header-bar">
                <div class="center">
                    <h1 class="title">Dialogs</h1>
                </div>
            </header>
            <div class="content">
                <div class="padded-full">

                    <button class="btn btn-flat" id="show-alert">Show Alert</button>
                    <button class="btn btn-flat" id="show-confirm">Show Confirm</button>
                    <button class="btn btn-flat" id="show-prompt">Show Prompt</button>
                    <button class="btn btn-flat" id="show-indicator">Show Indicator</button>

                    <!-- custom dialogs are placed in the body tag, not inside page tags -->
                    <button class="btn btn-flat" data-dialog-id="custom-dialog">Show Custom</button>
                </div>
            </div>
        </home>

        <script src="../../../dist/js/phonon-core.js"></script>
        <script src="../../../dist/js/components/preloaders.js"></script>
        <script src="../../../dist/js/components/dialogs.js"></script>

        <script>

            phonon.options({
                navigator: {
                    defaultPage: 'home',
                    animatePages: true,
                    templateRootDirectory: 'contents/',
                    enableBrowserBackButton: true // should be disabled on Cordova
                },
                i18n: null
            });

            var app = phonon.navigator();

            app.on({page: 'home', content: null}, function(activity) {

                activity.onCreate(function() {

                    document.querySelector('#show-alert').on('tap', function() {
                        phonon.alert('Example', 'Hello');
                    });

                    document.querySelector('#show-confirm').on('tap', function() {
                        var confirm = phonon.confirm('Example', 'Hello');
                        confirm.on('confirm', function() {
                            phonon.alert('Confirmed!');
                        });
                        confirm.on('cancel', function(value) {
                            phonon.alert('Canceled!');
                        });
                    });

                    document.querySelector('#show-prompt').on('tap', function() {
                        var prompt = phonon.prompt('Example', 'Hello');
                        prompt.on('confirm', function(value) {
                            phonon.alert(value, 'Inserted Value');
                        });
                        prompt.on('cancel', function() {
                            phonon.alert('Prompt Canceled');
                        });
                    });

                    document.querySelector('#show-indicator').on('tap', function() {
                        var indicator = phonon.indicator('Please wait 3 seconds', false);
                        window.setTimeout(function() {
                            indicator.close();
                        },3000);
                    });
                });
            });

            app.start();

        </script>
    </body>
</html>
        