<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

		<link rel="stylesheet" href="../../../dist/css/phonon.css"/>
		<title>Autocomplete</title>
	</head>
	<body>

		<home data-page="true">
			<header class="header-bar">
				<div class="center">
					<h1 class="title">Autocomplete</h1>
				</div>
			</header>
			<div class="content">
				<div class="padded-full">

					<p>Select a Phonon component (for example: tabs, grid or forms).</p>

					<input type="text" placeholder="Search" id="example-input">

					<datalist id="componentList">
						<option>Accordion</option>
						<option>Dialogs</option>
						<option>Floating actions</option>
						<option>Forms</option>
						<option>Icons</option>
						<option>Grid</option>
						<option>Lists</option>
						<option>Notifications</option>
						<option>Panels</option>
						<option>Popovers</option>
						<option>Preloaders</option>
						<option>Tabs</option>
						<option>Tables</option>
					</datalist>
				</div>
			</div>
		</home>

		<!-- Awesomplete dependency -->
		<script src="../../../dist/js/components/awesomplete.js"></script>
		<!-- Phonon core -->
		<script src="../../../dist/js/phonon-core.js"></script>
		<!-- Phonon autocomplete -->
		<script src="../../../dist/js/components/autocomplete.js"></script>

		<!-- You can also include phonon.js instead of phonon-core.js and autocomplete.js
		<script src="../../../dist/js/phonon.js"></script>
		-->

		<script>
			// Create the autocomplete instance
			phonon.autocomplete(document.querySelector('#example-input'), {list: '#componentList'});
		</script>
	</body>
</html>
