.awesomplete
    // display inline-block
    // position relative
    [hidden]
        display none
    .visually-hidden
        position absolute
        clip rect(0, 0, 0, 0)
    & > ul
        position absolute
        z-index 1
        box-sizing border-box
        list-style none
        padding 0
        margin 0 auto
        background #fff
        border-radius 2px
        margin .2em 0 0
        border 1px solid rgba(0,0,0,.15)
        &:empty
            display none
        & > li
            position relative
            height list-simple-item-height
            line-height list-simple-item-height
            padding 0 list-cell-content-padding
            vertical-align middle
            cursor pointer
    mark
        background-color #FFF9C4

.awesomplete > ul[hidden],
    .awesomplete > ul:empty {
    opacity 0
    transform scale(0)
    display block
    transition-timing-function ease
}
