@require '../_variables.styl';

.backdrop-dialog
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 26
  background transparent
  background-color rgba(0, 0, 0, .35)

  &.fadeout
    opacity 0
    transition opacity .45s linear

.dialog
  width dialog-width
  height auto
  position absolute
  opacity 0
  visibility hidden
  top 0
  left 0
  right 0

  margin 0 auto

  z-index 28

  border-radius dialog-radius
  box-shadow dialog-shadow-horizontal dialog-shadow-vertical dialog-shadow-blur dialog-shadow-color

  background-color #fff

  transform translate3d(0, 0, 0) scale(1.185)
  transition transform 0.3s, opacity 0.3s

  &.active
    opacity 1
    transform translate3d(0, 0, 0) scale(1)

  &.close
    animation closeDialog .3s ease-out

  .content
    position relative
    max-height 350px

    h1, h2, h3
      margin-bottom 22px

    .circle-progress
      position relative
      margin-left auto
      margin-right auto
      left 0

  .padded-full
    margin-bottom 0


@keyframes closeDialog
	0%
    opacity 1
    transform translate3d(0, 0, 0) scale(1)

	100%
    opacity 0
    transform: translate3d(0, 0, 0) scale(0.815)
