@require '../_variables.styl';

input[type="submit"], input[type="reset"], input[type="button"]
	width 100%

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"]
	width 100%
	height input-height
	line-height input-height - (16px * 2)
	appearance none
	color #636363
	background-color #fff
	border none
	border-bottom 1px solid #ddd
	outline none

input:invalid, .input-invalid
	border-bottom-width 2px !important
	border-color #e53935 !important

input::-webkit-input-placeholder
	padding 0
	font-size 15px
	color #999

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus
	border-bottom-width 2px
	border-color primary

label
	width 100%
	display inline-block
	height input-height
	line-height input-height

.list label
	height checkbox-radio-height
	line-height checkbox-radio-height

.checkbox input[type="checkbox"], .radio input[type="radio"]
	display none

.checkbox, .radio
	position relative
	
.checkbox span, .radio span
	transition all 0.3s ease-in-out
	content ""
	position absolute
	float right
	top ((checkbox-radio-height - tick-size) / 2)
	right 0
	width tick-size
	height tick-size
	border 2px solid #ddd


.checkbox :checked + span, .radio :checked + span
	transform rotate(-45deg)
	border-radius 0
	height .65rem
	border-color primary
	border-top-style none
	border-right-style none

.radio span
	border-radius 50%


.input-wrapper
	width 100%
	margin-top 24px
	position relative
	display inline-block
	vertical-align top


.floating-label
	position absolute
	top 0
	left 0
	width 100%
	text-align left

	line-height input-height
	height auto

	display inline-block

	font-size 15px
	color #999

	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	transform translate3d(0, 0, 0)
	transition all 200ms

.with-label:focus + .floating-label, .input-filled .floating-label
	transform translate3d(0, -60%, 0)
	font-size 12px
