@require '../_variables.styl';

.row 
	width 100%

	&:before, &:after 
		content ' '
		display table
	

	&:after 
		clear both
	

	.row 
		
		width auto
		
		&:before, &:after 
			content ' '
			display table
		

		&:after 
			clear both

.column 
	width 100%
	position relative
	float left

[class*="column"] + [class*="column"]:last-child
	float right


@media media-phone-only
  
	.phone-1 
		width (1/12)*100%
	

	.phone-2 
		width (2/12)*100%
	

	.phone-3 
		width (3/12)*100%
	

	.phone-4 
		width (4/12)*100%
	

	.phone-5 
		width (5/12)*100%
	

	.phone-6 
		width (6/12)*100%
	

	.phone-7 
		width (7/12)*100%
	

	.phone-8 
		width (8/12)*100%
	

	.phone-9 
		width (9/12)*100%
	

	.phone-10 
		width (10/12)*100%
	

	.phone-11 
		width (11/12)*100%
	

	.phone-12 
		width 100%


@media media-tablet-up

	.tablet-1 
		width (1/12)*100%
	

	.tablet-2 
		width (2/12)*100%
	

	.tablet-3 
		width (3/12)*100%
	

	.tablet-4 
		width (4/12)*100%
	

	.tablet-5 
		width (5/12)*100%
	

	.tablet-6 
		width (6/12)*100%
	

	.tablet-7 
		width (7/12)*100%
	

	.tablet-8 
		width (8/12)*100%
	
	
	.tablet-9 
		width (9/12)*100%
	

	.tablet-10 
		width (10/12)*100%
	

	.tablet-11 
		width (11/12)*100%
	

	.tablet-12 
		width 100%
		
@media media-large-only

	.large-1 
		width (1/12)*100%
	

	.large-2 
		width (2/12)*100%
	

	.large-3 
		width (3/12)*100%
	

	.large-4 
		width (4/12)*100%
	

	.large-5 
		width (5/12)*100%
	

	.large-6 
		width (6/12)*100%
	

	.large-7 
		width (7/12)*100%
	

	.large-8 
		width (8/12)*100%
	
	
	.large-9 
		width (9/12)*100%
	

	.large-10 
		width (10/12)*100%
	

	.large-11 
		width (11/12)*100%
	

	.large-12 
		width 100%