@require '../_variables.styl';

.notification
	width notification-width
	height auto
	min-height notification-height
	line-height notification-height + preloader-bar-height
	vertical-align bottom

	padding 0 notification-padding-side

	position fixed

	z-index 28

	left 0
	right 0
	bottom 0

	border-top-radius 2px

	margin-left auto
	margin-right auto

	opacity 0

	color notification-text-color
	background-color notification-background-color

	transform translate3d(0, (notification-height + notification-padding-side), 0)
	transition transform 0.3s, opacity 200ms

	&.show
		transform translate3d(0, 0, 0)
		opacity 1

	.btn
		position relative
		float right
		top preloader-bar-height
		right 0
		height notification-height - preloader-bar-height
		line-height notification-height - preloader-bar-height
		background-color transparent
		font-weight 700
		color #fff

	.progress
		position absolute
		top 0
		left 0
		right 0
