@require '../_variables.styl';

.backdrop-panel
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 21
  background-color rgba(0, 0, 0, 0.1)

  &.fadeout
    opacity 0
    transition opacity 450ms linear

.panel, .panel-full
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 25
  visibility hidden
  background-color #fff

.panel
  width panel-width
  height auto
  max-height 80%
  top auto

  transform translate3d(0, 100%, 0)
  transition transform 300ms, opacity 1ms

  .header-bar
    visibility hidden

  // Active panel
  &.active
    transform translate3d(0, 0, 0)
    opacity 1

    .header-bar
      visibility visible

  .content
    position relative
    overflow hidden

    .list
      margin-bottom 0

.panel-full
  width panel-width
  height 100%
  transform translate3d(0, 100%, 0)

  // Active panel
  &.active
    transform translate3d(0, 0, 0)
    opacity 1

    .content
      transform translate3d(0, 0, 0)
      transition transform 300ms

  .content
    transform translate3d(0, 50%, 0)
    transition transform 300ms

.panel-closing
  transition transform 300ms
