@require '../_variables.styl';

.backdrop-popover
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 30
	background transparent

.popover
	z-index 31
	position fixed
	top 12px
	left 16px
	opacity 0

	width 160px
	height auto
	background-color #fff

	border-radius 2px

	visibility hidden

	box-shadow 0 0 4px #8a8a8a

	transition opacity .2s linear

	&.active
		visibility visible
		opacity 1
		transition opacity .2s linear

	.list
		max-height (popover-item-height*4) - 4px
		overflow-x hidden
		overflow-y auto
		
		li

			height popover-item-height - 1px
			line-height popover-item-height