@require '../_variables.styl';

.side-panel
  position absolute
  top 0
  right auto
  left auto
  bottom 0
  width side-panel-width-phone
  height 100%
  visibility hidden // improves rendering

  overflow auto

  -webkit-overflow-scrolling touch
  background-color side-panel-background

  transition width 0.3s ease

  .list

    overflow-y auto

    li
      border-color side-panel-item-border

    a, li, .title, .body
      color side-panel-item-color

      &:active
        background-color side-panel-item-background-active

  .header-bar
    background-color side-panel-header-background

    .title
      color side-panel-title-color
      font-weight 400

    .btn
      color side-panel-button-color


.side-panel-left
  left 0
  z-index 1

.side-panel-right
  right 0
  z-index 1
