/* ======================
* Base
* ======================= */

font-family-base = 				 "Helvetica Neue", "Roboto", "Segoe UI", sans-serif
font-size-base = 				   14px

window-background-color =	 #fff

padding-phone = 			     16px
padding-tablet =				   32px




/* ======================
* Colors
* ======================= */

primary =						       #0084E7
positive =						     #0AE700
negative =						     #F40B00

light-primary =					   #b9d3e7
light-positive =				   #bbe7b9
light-negative =				   #f4c5c3




/* ======================
* Icons
* ======================= */

icon-size =						    24px
floating-circle =			  	16px


/* ======================
* Headers
* ======================= */
header-height =				         	52px
header-border-bottom-height = 	0px
header-background-color =	    	#0084e7
header-border-bottom-color =  	#2e2bc9


/* ======================
* Buttons
* ======================= */

button-height =		 			    42px
button-padding = 				    12px

/* ======================
* Dialogs
* ======================= */

dialog-width =              280px
dialog-button-height =      48px
dialog-radius =             2px
dialog-shadow-color =       #8a8a8a
dialog-shadow-horizontal =  0
dialog-shadow-vertical =    2px
dialog-shadow-blur =        4px


/* ======================
* Lists
* ======================= */

list-divider-height =			  48px
list-simple-item-height =		52px
list-expanded-item-height =	78px
list-cell-content-padding =	8px

/* ======================
* Forms
* ======================= */
checkbox-radio-height =			52px
tick-size =		  		 		    20px
input-height =					    48px



/* ======================
* Notifications
* ======================= */

notification-width-phone =		  100%
notification-width-tablet =		  450px
notification-height =			      48px
notification-padding-side = 	  24px
notification-animation-speed = 	300ms
notification-text-color = 		  #fff
notification-background-color = #333

/* ======================
* Popovers
* ======================= */

popover-item-height =			48px


/* ======================
* Panels
* ======================= */

panel-width =					100%

/* ======================
* Side Panels
* ======================= */

side-panel-width-phone = 		    80%
side-panel-width-tablet = 		  28%

side-panel-background-color =   #333
side-panel-list-item-color = 	  #fff
side-panel-list-item-border =	  #444

side-panel-header-background =  transparent
side-panel-button-title = 		  #fff
side-panel-button-color = 		  #fff

/* ======================
* Preloaders
* ======================= */

preloader-bar-height =			    6px
preloader-spinner-size =		    36px
preloader-spinner-background =	#eee


/* ======================
* Tabs
* ======================= */

tab-height =					      50px
tab-background-color =			#fff
tab-indicator-height = 			3px
tab-indicator-color = 			primary
tab-icon-size =					    32px

/* ======================
* Media Queries
* ======================= */
media-phone-only = "only screen and (max-width: 640px)"
media-tablet-only = "only screen and (min-width: 641px) and (max-width: 1024px)"
media-tablet-up = "only screen and (min-width: 641px)"
media-large-only = "only screen and (min-width: 1025px)"
