@require '_variables.styl';

/*!
 * Custom CSS style for Phonon components
 * It is also possible to use Stylus
 * by changing values in _variables.styl
 * then execute gulp css-all
 */


/*!
 * App Pages
 */
.app-page
	background-color window-background-color

/*!
 * Header Bars
 */
.header-bar
	background-color primary

	.title
		color header-text-color

	.btn
		color header-text-color


/*!
 * Dialogs
 */
.dialog

	background-color dialog-background
	border-radius dialog-radius
	box-shadow dialog-shadow-horizontal dialog-shadow-vertical dialog-shadow-blur dialog-shadow-color

/*!
 * Tabs
 */
.tabs
	background-color tab-background-color

	.tab-items

		.tab-item
			color primary

	.tab-indicator
		margin-bottom -(tab-indicator-height)
		height tab-indicator-height
		background-color tab-indicator-color


/*!
 * Panels
 */
.panel, .panel-full
	background-color panel-background

/*!
 * Side Panels
 */
.side-panel
	background-color side-panel-background

	.list

		li
			border-color side-panel-item-border

		a, li, .title, .body
			color side-panel-item-color

			&:active
				background-color item-background-active

	.header-bar
		background-color side-panel-header-background

		.title
			color side-panel-title-color

		.btn
			color side-panel-button-color

.checkbox span, .radio span
	border 2px solid #ddd

.checkbox :checked + span, .radio :checked + span
	border-color primary


/*!
 * Preloaders
 */
.circle-progress
	width preloader-spinner-size
	height preloader-spinner-size
	margin-left -(preloader-spinner-size/2)
	&.active
		.spinner
			border-top 3px solid primary
			border-right 3px solid primary
			border-bottom 3px solid primary
			border-left 3px solid preloader-spinner-background
			animation circleLoading 900ms infinite linear

	&.primary
		.spinner
			border-top 3px solid primary
			border-right 3px solid primary
			border-bottom 3px solid primary

	&.negative
		.spinner
			border-top 3px solid negative
			border-right 3px solid negative
			border-bottom 3px solid negative

	&.positive
		.spinner
			border-top 3px solid positive
			border-right 3px solid positive
			border-bottom 3px solid positive

.progress
	height preloader-bar-height

	.determinate
		background-color primary

	&.primary
		.determinate
			background-color dark-primary !important

	&.negative
		.determinate
			background-color dark-negative !important

	&.positive
		.determinate
			background-color dark-positive !important

/*!
 * Notifications
 */
.notification
	width notification-width
	min-height notification-height
	line-height notification-height + preloader-bar-height
	padding 0 notification-padding-side

	color notification-text-color
	background-color notification-background-color

	transform translate3d(0, (notification-height + notification-padding-side), 0)
	transition transform 0.3s, opacity 200ms

	.btn
		top preloader-bar-height
		height notification-height - preloader-bar-height
		line-height notification-height - preloader-bar-height

/*!
 * Colors
 */
@import 'base/colors.styl'
