/*
 * Linear progress bars: inspired by MaterializeCSS
 * https://github.com/Dogfalo/materialize 
*/
.progress {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
  height: 6px;
  display: none;
  width: 100%;
  background-color: #cbe9ff;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
}
.progress.active {
  display: block;
}
.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #2895e7;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
.progress .indeterminate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  background-color: #2895e7;
}
.progress.active .indeterminate {
  -webkit-animation: indeterminate-short 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
.btn-progress {
  -webkit-transition: height 500ms;
  transition: height 500ms;
}
.btn-progress .progress {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-progress:disabled,
.btn-progress.in-progress {
  height: 54px;
}
.btn-progress:disabled .progress,
.btn-progress.in-progress .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 0;
}
.btn-progress:disabled .progress .indeterminate,
.btn-progress.in-progress .progress .indeterminate {
  -webkit-animation: indeterminate-short 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
.btn-primary .determinate,
.btn-primary .indeterminate {
  background-color: #004a82;
}
.btn-positive .determinate,
.btn-positive .indeterminate {
  background-color: #006621;
}
.btn-negative .determinate,
.btn-negative .indeterminate {
  background-color: #b50300;
}
.circle-progress {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  opacity: 0;
  -webkit-transition: opacity 0.65s ease;
  transition: opacity 0.65s ease;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px #8a8a8a;
}
.circle-progress.active {
  opacity: 1;
}
.circle-progress.active .spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 4px solid #2895e7;
  border-right: 4px solid #2895e7;
  border-bottom: 4px solid #2895e7;
  border-left: 4px solid #fff;
  -webkit-animation: circleLoading 1.1s infinite ease;
  animation: circleLoading 1.1s infinite ease;
}
@-webkit-keyframes circleLoading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circleLoading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
