@require '_variables.styl'

*, *:before, *:after
  box-sizing border-box

// fixes scroll-x with side panels, see issue #44
html, body
  position relative
  height 100%
  width 100%
  overflow-x hidden


html
  -ms-touch-action pan-y
  touch-action pan-y

body
  top 0
  right 0
  bottom 0
  left 0

  margin 0
  padding 0

  word-wrap break-word

  font-size font-size-base
  font-family font-family-base

  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased

  backface-visibility hidden
  -webkit-user-drag none
  -ms-content-zooming none
  background-color window-background-color

  user-select none
  -webkit-touch-callout none
  -webkit-tap-highlight-color transparent

body, input, textarea, button, select, label, p
  font-family font-family-base
  font-size font-size-base
  font-weight normal
  color #333

h1, h2, h3, h4, h5, h6
  margin-top 0
  margin-bottom 10px
  line-height 1
  font-weight normal

h1
  font-size 36px

h2
  font-size 30px

h3
  font-size 24px

h4
  font-size 18px

h5
  margin-top 20px
  font-size 14px

h6
  margin-top 20px
  font-size 12px

p
  margin-top 0
  margin-bottom 10px

.content
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  overflow auto
  -webkit-overflow-scrolling touch

.content > *
  transform translateZ(0)

input, textarea, select
  -webkit-touch-callout default
  user-select all
  -webkit-user-select auto

a
  color primary
  text-decoration none

button
  border none
  outline none
