@require '_variables.styl';

.primary 
	background-color primary !important
	&.btn-flat
		color primary !important

.positive
	background-color positive !important
	&.btn-flat
		color positive !important
	
.negative
	background-color negative !important
	&.btn-flat
		color negative !important

.light-primary 
	background-color light-primary !important

.light-positive
	background-color light-positive !important
	
.light-negative
	background-color light-negative !important
	
.btn.primary, .btn.positive, .btn.negative
	color #fff