@require '_variables.styl';

.text-left 
	text-align left

.text-center 
	text-align center

.text-right 
	text-align right

.text-justify 
	text-align justify

.pull-left 
	float left !important

.pull-right 
	float right !important

.fit-parent 
	width 100%
  	
.show-for-phone-only, .show-for-tablet-only,  .show-for-tablet-up, .show-for-large-only
	display none !important
	

.show-for-android-only, .show-for-ios-only, .show-for-web-only
	display none !important

.android
	
	.show-for-android-only
		display inherit !important
.ios
	
	.show-for-ios-only
		display inherit !important

.web
	
	.show-for-web-only
		display inherit !important



@media media-phone-only
		
	.show-for-phone-only 
		display inherit !important

	.padded-full 
		margin padding-phone
	

	.padded-top 
		margin-top padding-phone
	

	.padded-left 
		margin-left padding-phone
	

	.padded-right 
		margin-right padding-phone
	

	.padded-bottom 
		margin-bottom padding-phone
			
@media media-tablet-only
		
	.show-for-tablet-only 
		display inherit !important

@media media-tablet-up
		
	.show-for-tablet-only, show-for-tablet-up
		display inherit !important

	.padded-full 
		margin padding-tablet
	
	.padded-top 
		margin-top padding-tablet

	.padded-left 
		margin-left padding-tablet
	
	.padded-right 
		margin-right padding-tablet
	
	.padded-bottom 
		margin-bottom padding-tablet
			
	.notification
		width notification-width-tablet !important
		
	.dialog
		width 380px !important
	
	.side-panel
		width side-panel-width-tablet !important
	
	.header-bar
		
		.pull-left
			padding-left padding-tablet

		.pull-right
			padding-right padding-tablet

	.expose-aside-left
		width (100% - side-panel-width-tablet)
		margin-left side-panel-width-tablet
		
		.tabs
			width (100% - side-panel-width-tablet)
			left side-panel-width-tablet
			
		.panel-full
			width (100% - side-panel-width-tablet)
			margin-left side-panel-width-tablet
		
		.notification
			left side-panel-width-tablet

	.expose-aside-right
		width 100%
		
		.tabs
			width (100% - side-panel-width-tablet)
			right side-panel-width-tablet
			
		.panel-full
			width (100% - side-panel-width-tablet)
			margin-right side-panel-width-tablet
	

@media media-large-only
			
	.show-for-tablet-up, .show-for-large-only 
		display inherit !important
