<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

        <link rel="stylesheet" href="../../../dist/css/phonon.css" />

        <title>i18n</title>
    </head>
    <body>
    
        <home data-page="true">
            <header class="header-bar">
                <div class="center">
                    <h1 class="title">i18n</h1>
                </div>
            </header>

            <div class="content">

                <div class="padded-full">
                    <p class="pref-lang"></p>
                    <p class="locale-lang"></p>
                    <p class="default-lang"></p>
                
                    <button class="btn btn-flat padded-bottom primary set-fr" data-l="fr" data-i18n="text: french"></button>

                    <button class="btn padded-bottom primary set-en-global" data-l="en" data-i18n="text: global_english"></button>

                    <button class="btn padded-bottom primary set-en-us" data-l="en-US" data-i18n="text: us_english"></button>

                </div>

                <div class="padded-full">
                    <input type="text" data-i18n="placeholder: welcome">
                    <input type="text" data-i18n="value: welcome">
                </div>

                <ul class="list">
                    <li class="padded-list" data-i18n="text: desc"></li>
                </ul>
            </div>
        </div>

        <script src="../../../dist/js/phonon-core.js"></script>
        <script src="app.js"></script>
    </body>
</html>
        