$dropdown-width: auto;
$dropdown-min-width: 220px;

$dropdown-line-height: 20px;

$dropdown-padding-y: 12px;
$dropdown-padding-x: 15px;

$dropdown-sm-padding-y: 7px;
$dropdown-sm-padding-x: 10px;

$dropdown-lg-padding-y: 17px;
$dropdown-lg-padding-x: 20px;

$dropdown-border-radius: 3px;
$dropdown-border-color:#ccc;
$dropdown-hover-border-color: $primary;
$dropdown-border-weight: 1px;
$dropdown-border-transition-duration: 300ms;

$dropdown-background: #f9f9f9;

$dropdown-default-text-color: #555;

// dropdown menu
$dropdown-menu-max-height: 44px * 4;
$dropdown-menu-border-radius: $dropdown-border-radius;
$dropdown-menu-border-color: $dropdown-border-color;
$dropdown-menu-hover-border-color: $dropdown-hover-border-color;
$dropdown-menu-border-weight: $dropdown-border-weight;
$dropdown-menu-border-transition-duration: $dropdown-border-transition-duration;

$dropdown-menu-background: $white;

// dropdown menu item
$dropdown-menu-item-border-weight: 1px;
$dropdown-menu-item-border-color: #eee;
$dropdown-menu-item-color: #333;
$dropdown-menu-item-background: $dropdown-menu-background;
$dropdown-menu-item-hover-color: inherit;
$dropdown-menu-item-hover-background: #f2f2f2;
$dropdown-menu-item-selected-color: $white;
$dropdown-menu-item-selected-background: $primary;
$dropdown-menu-item-line-height: 22px;

// dropdown menu header
$dropdown-menu-header-color: #333;

// dropdown menu divider
$dropdown-menu-divider-border-color: #eee;
$dropdown-menu-divider-border-weight: 1px;

$dropdown-menu-description-color: $white;

.dropdown {
  display: inline-block;
  position: relative;
  transform: rotateZ(0deg);
  transition: border-color $dropdown-border-transition-duration ease-in-out;
  outline: none;
  border: $dropdown-border-weight solid $dropdown-border-color;
  border-radius: $dropdown-border-radius;
  border-color: $dropdown-border-color;
  background-color: $dropdown-background;
  cursor: pointer;

  padding: $dropdown-padding-y $dropdown-padding-x;
  width: $dropdown-width;
  min-width: $dropdown-min-width;

  vertical-align: middle;
  line-height: $dropdown-line-height;

  white-space: normal;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.dropdown-sm {
    padding: $dropdown-sm-padding-y $dropdown-sm-padding-x;
  }

  &.dropdown-lg {
    padding: $dropdown-lg-padding-y $dropdown-lg-padding-x;
  }

  &.active {
    height: auto;
    z-index: 10;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .dropdown-icon {
      transform: rotate(180deg);
    }

    .dropdown-menu {
      display: block;
      border-top: 0;
    }
  }

  // hidden input
  select {
    display: none;
  }

  &:hover {
    border-color: $dropdown-hover-border-color;

    .dropdown-menu {
      border-color: $dropdown-menu-hover-border-color;      
    }
  }

  // default text
  .default-text {
    color: $dropdown-default-text-color;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    transition: border-color $dropdown-menu-border-transition-duration ease-in-out;
    z-index: 11;
    margin: 0 -1px 0 -1px;
    outline: none;
    border: $dropdown-menu-border-weight solid $dropdown-menu-border-color;
    border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
    background-color: $dropdown-menu-background;
    cursor: auto;
    padding: 0;
    // min-width: max-content;
    width: calc(100% + 2px);
    max-height: $dropdown-menu-max-height;

    font-size: $font-size-base;
    will-change: transform;

    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;

    -webkit-overflow-scrolling: touch;

    > * {
      white-space: nowrap;
    }

    .input-search-container {
      margin: ($spacer / 2) $spacer;
    }

    // menu item
    .item {
      display: block;
      position: relative;
      background-color: $dropdown-menu-item-background;
      cursor: pointer;
      height: auto;
      line-height: $dropdown-menu-item-line-height;
      color: $dropdown-menu-item-color;
      padding: 0.78571429rem 1.14285714rem !important;
      font-size: $font-size-base;

      -webkit-touch-callout: none;

      border-top: $dropdown-menu-item-border-weight solid $dropdown-menu-item-border-color;
      white-space: normal;
      word-wrap: normal;

      &:hover {
        z-index: 13;
        background-color: $dropdown-menu-item-hover-background;
        color: $dropdown-menu-item-hover-color;
      }

      &.selected {
        background-color: $dropdown-menu-item-selected-background;
        color: $dropdown-menu-item-selected-color;

        // keep same style
        &:hover {
          background-color: $dropdown-menu-item-selected-background;
          color: $dropdown-menu-item-selected-color;
        }
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: .45;
      }
    }
  }

  // icon
  .dropdown-icon {
    position: absolute;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #000 transparent transparent transparent;

    top: calc(50% - 4px);
    right: 1em;

    transition: transform 300ms ease-in-out;    

    z-index: 3;
    cursor: pointer;
    text-align: center;

    backface-visibility: hidden;

    &::before {
      content: '\f0d7';
    }
  }

  // menu header
  .header {
    margin: 1rem 0rem 0.75rem;
    padding: 0em 1.14285714rem;
    text-transform: uppercase;
    color: $dropdown-menu-header-color;
    font-size: $font-size-sm;
    font-weight: bold;
  }

  // menu divider
  .divider {
    margin: .5em 0;
    border-top: $dropdown-menu-divider-border-weight solid $dropdown-menu-divider-border-color;
    height: 0;
  }

  // menu item text
  .text {
    display: inline-block;
  }

  // menu item description
  .description {
    float: right;
    margin: 0 0 0 1em;
    color: $dropdown-menu-description-color;
    font-size: $font-size-sm;
  }
}
