
// notifications must be above dialogs and off-canvas
$zindex-notification: 1050;
$notification-border-radius: 3px;

$notification-sm: 100%;
$notification-md: 300px;
$notification-lg: 400px;

.notification {
  position: fixed;
  bottom: 0;
  transition: opacity 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: $zindex-notification;
  width: $notification-sm;
  height: auto;
  color: $white;

  .notification-inner {
    position: relative;
    padding: $spacer;

    .message {
      display: inline-block;
      margin-right: $spacer * 2;
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    visibility: visible;
    opacity: 0;
  }
}

@include media-breakpoint-up(md) {
  .notification {
    top: $spacer;
    right: $spacer;
    bottom: auto;
    margin-bottom: $spacer; // add margin if several notifications are shown
    border-radius: $notification-border-radius;
    width: $notification-md;
  }
}

@include media-breakpoint-up(lg) {
  .notification {
    width: $notification-lg;
  }
}
