/*
$alert-button-height:      48px !default;
$alert-shadow-color:       #8a8a8a !default;
$alert-background:         #fff !default;

$zindex-alert: 100 !default;
$zindex-alert-backdrop: 90 !default;

$alert-backdrop-bg: rgba(0,0,0,0.35) !default;

$alert-dialog-margin: $modal-dialog-margin; // copy
$alert-inner-padding: $modal-inner-padding; // copy
$alert-content-bg: $modal-content-bg;
$alert-content-border-color: $modal-content-border-color;
$alert-content-border-width: $modal-content-border-width;
$alert-content-xs-box-shadow: $modal-content-xs-box-shadow;
$alert-content-sm-up-box-shadow: $modal-content-sm-up-box-shadow;

$alert-header-padding: $modal-header-padding;
$alert-header-border-width: $modal-header-border-width;
$alert-header-border-color: $modal-header-border-color;

$alert-footer-border-width: $modal-footer-border-width;
$alert-footer-border-color: $modal-footer-border-color;

$alert-sm: 300px !default;
$alert-md: $alert-sm;
$alert-lg: $alert-sm;

.alert-open {
  overflow: hidden;
}

.alert-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-alert-backdrop;
  background-color: $alert-backdrop-bg;

  &.fadeout {
    opacity: 0;
    transition: opacity 0.45s linear;
  }
}

.alert {
  width: auto;
  height: auto;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: $zindex-alert;
  background-color: $alert-background;
  transform: translate3d(0, 0, 0) scale(1.185);
  transition: transform 0.3s, opacity 0.3s;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  &.active {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }

  &.close {
    animation: closeAlert 0.3s ease-out;
  }

  .alert-dialog {
    position: relative;
    width: auto;
    margin: $alert-dialog-margin;

    .alert-content {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: $alert-content-bg;
      background-clip: padding-box;
      border: $alert-content-border-width solid $alert-content-border-color;
      @include border-radius($border-radius-lg);
      @include box-shadow($alert-content-xs-box-shadow);
      // Remove focus outline from opened modal
      outline: 0;

      .alert-header {
        display: flex;
        align-items: center; // vertically center it
        justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
        padding: $alert-header-padding;
        border-bottom: $alert-header-border-width solid $alert-header-border-color;
      }

      .alert-body {
        position: relative;
        // Enable `flex-grow: 1` so that the body take up as much space as possible
        // when should there be a fixed height on `.modal-dialog`.
        flex: 1 1 auto;
        padding: $alert-inner-padding;
      }

      // Footer (for actions)
      .alert-footer {
        display: flex;
        align-items: center; // vertically center
        justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
        padding: $alert-inner-padding;
        border-top: $alert-footer-border-width solid $alert-footer-border-color;

        > :not(:first-child) { margin-left: .25rem; }
        > :not(:last-child) { margin-right: .25rem; }
      }
    }
  }
}

@keyframes closeAlert {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0.815);
  }
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .alert-dialog {
    max-width: $alert-md;
  }

  .alert-content {
    @include box-shadow($alert-content-sm-up-box-shadow);
  }

  .alert-sm { max-width: $alert-sm; }
}

@include media-breakpoint-up(lg) {
  .alert-lg { max-width: $alert-lg; }
}
*/