<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

        <link rel="stylesheet" href="../../../dist/css/phonon.css"/>
        <title>Preloaders</title>
    </head>
    <body>

        <home data-page="true">
            <header class="header-bar">
                <div class="center">
                    <h1 class="title">Preloaders</h1>
                </div>
            </header>
            <div class="content">
                <div class="padded-full">
                    <div class="circle-progress" id="my-circle">
                        <div class="spinner"></div>
                    </div>

                    <div class="padded-bottom"></div>

                    <div class="progress" id="my-determinate">
                        <div class="determinate" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </home>

        <script src="../../../dist/js/phonon-core.js"></script>
        <script src="../../../dist/js/components/preloaders.js"></script>

        <script>

            phonon.options({
                navigator: {
                    defaultPage: 'home'
                },
                i18n: null
            });
            phonon.navigator().start();

            phonon.preloader(document.querySelector('#my-circle')).show();
            phonon.preloader(document.querySelector('#my-determinate')).show();

        </script>
    </body>
</html>
        